services:
  tailnet:
    env_file:
      - ENV_FILE #if using .env file use instead: ENV_FILE: .env
    container_name: tailnet
    build:
      context: .
    image: tailnet:0.0.4-beta
    privileged: true
    network_mode: bridge
    volumes:
      - ./qemu:/storage
    healthcheck:
      test: ["CMD", "/bin/sh", "/healthcheck.sh", "status"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
    restart: always
    stop_grace_period: 2m
    develop:
      watch:
        - action: sync
          path: ./web/conf/defaults.json
          target: /usr/share/novnc/defaults.json
        - action: sync
          path: ./web/conf/mandatory.json
          target: /usr/share/novnc/mandatory.json
        - action: sync
          path: ./web/conf/nginx.conf
          target: /etc/nginx/nginx.conf
        - action: sync
          path: ./tailnet.sh
          target: /tailnet.sh
        - action: sync
          path: ./healthcheck.sh
          target: /healthcheck.sh
        - action: sync
          path: ./web
          target: /var/www/
          ignore:
            - conf/
        - action: sync
          path: ./src
          target: /run/
